# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor': [
    { 'label': 'Data Ace - Execute', 'command': 'data-ace:execute' },
    { 'label': 'Data Ace - Format SQL', 'command': 'data-ace:format-sql' }
  ],
  '.db-list .table-name': [
    { 'label': 'Get Table Details', 'command': 'data-ace:query-table' }
  ]

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Data Ace'
      'submenu': [
        { 'label': 'Toggle', 'command': 'data-ace:toggle-results-view' }
        { 'label': 'Edit connections', 'command': 'data-ace:edit-connections' }
      ]
    ]
  }
]
